.logo {
  text-align: center;
}

#column {
  float: right;
}

.column {
  float: left;
}

#images {
  float: left;
}

#img {
  float: right;
}

.jumbotron {
  background-image: url();
  (..images/backgrounds/landing.jpg);
  background-size: cover;
}

.breakfast {
  background-image: url(..images/foodtop/breakfast.jpg);
}
